<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="static/js/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

    <title>Deep Solaris</title>

    <style type="text/css">
      .vertical {
        width:80vw;
        margin-left: 10vw;
        height:80vw;

        display: flex;
        text-align:center;
        display: inline-block;
        /*margin: 0 auto;*/
 /*       text-align: center;*/
        /*border: 1px solid black;*/
      }

      img {
          margin-left: auto; 
          margin-right:auto; 
          display:block;
      }

      .centerBtn{
        display: flex;
        justify-content: center;
        border: 5px ;
      }

      #mapid { height: 400px;}

    </style>
  </head>
  <body>

    <div id="mapid"></div>

    <div class = "vertical" > 
      <img src="static/default.jpg" id = 'image' class ="img-circle" width="100%" height="100%">
    </div>

    <div>
      <select class="form-control" id='country'>
        <option value="Germany">Germany</option>
        <!-- <option value="Netherlands">Netherlands</option> -->
      </select>
    </div>

    <div class="form-group centerBtn">
      <input type="text" name="GPS_X" id = "GPS_X" placeholder="GPS_X">
      <input type="text" name="GPS_Y"  id = "GPS_Y" placeholder="GPS_Y">
      <input type="text" id = "X_range" placeholder="X_range(max500)" value="200">
      <input type="text" id = "Y_range" placeholder="Y_range(max500)" value="200">
      <input type="text" id = "resolution" placeholder="resolution(max5000)" value="1000">
    </div>


    <div class="modal fade" id="popUp1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Label Image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id = "modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"  id = "downloadPicBtn">Download Image</button>
          </div>
        </div>
      </div>
    </div>

    <div class="centerBtn inline">
      <button class="btn btn-primary"  type="button" id = "getImageBtn">GetImage</button>
      <button class="btn btn-primary"  type="button" id = "DetectPanelBtn" >Detect</button>
    </div>

    <div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Label Image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id = "modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id = "One">T_Positive</button>
            <button type="button" class="btn btn-primary" id = "Two">F_Positive</button>
            <button type="button" class="btn btn-primary" id = "Three">T_Negative</button>
            <button type="button" class="btn btn-primary" id = "Four">F_Negative</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="crossorigin=""></script>
        <!-- Germany coordinate -->
<!-- Aachen: center = (6.08342,50.77664) 
Bonn: bonn_center=(7.0982, 50.7374) 
Essen: essen_center=(7.0116, 51.4556) 
Dortmund: dortmun_center=(7.4653,51.5136) 
Duisburg: duisburg_center=(6.7623,51.4344) 
Monschau: monschau_center= (6.256389,50.56) 
Bochum: center = (7.216236, 51.481846) 
koln residential area: center = (7.060243,50.882887) 
Dusseldorf: center = (6.77616,51.22172)  -->


<!-- Heerlen (5.9794988,50.8881742) -->
    <script>

        var click_X
        var click_Y
        var imgName 
        var img_width  
        var img_height  
        var marker 


        var map = L.map('mapid').setView([51.22172, 6.77616], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        map.on('click', onMapClick);


        function onMapClick(e) {

          if(marker){
            map.removeLayer(marker)
          }

          marker = new L.marker(e.latlng).addTo(map);

          alert("You clicked the map at " + e.latlng);
  
          $('#GPS_Y').val(e.latlng.lat);
          $('#GPS_X').val(e.latlng.lng);

          var mymodal = $("#popUp1");
          mymodal.find('.modal-body').text('latitude: ' + e.latlng.lat + " longitude: " + e.latlng.lng);
          mymodal.modal('show');
        }


        $("#image").on("click", function(event) {
          var x = event.pageX - this.offsetLeft;

          img_width =  $("#image").width()
          var y = event.pageY - this.offsetTop;
          img_height = $("#image").height()
          alert("X Coordinate: " + x + " Y Coordinate: " + y + " height:"+img_width + " width:" + img_height);
          click_X = x
          click_Y = y

          var mymodal = $("#popUp");
          mymodal.find('.modal-body').text('X: ' + x + " Y: " + y);
          mymodal.modal('show');

          imgName = $('#image').attr('src')

         });

        $("#getImageBtn").on("click",downloadPic)

        function downloadPic(){
          var gps_x = $("#GPS_X").val()
          var gps_y = $("#GPS_Y").val()
          var country = $("#country").val()
          var x_range = $("#X_range").val()
          var y_range = $("#Y_range").val()
          var resolution = $("#resolution").val()
          if (x_range >500 || y_range>500 || x_range<0 || y_range<0 ){
            alert("The range doesn't fit ")
          }
          else{
            var data = {
              'gps_x':gps_x,
              'gps_y':gps_y,
              'country':country,
              'x_range':x_range,
              'y_range':y_range,
              'resolution':resolution
            }

            $.ajax({
              type:'GET',
              url:'http://127.0.0.1:5000/downloadPic',
              data:data,
              dataType:'json',//希望服务器返回json格式的数据
              success:function(data){
                // alert(JSON.stringify(data))
                 //data["url"]   
                $('#image').attr('src',data['url'])
                alert(data['url'])    
                     }
            })
          }
        }

        $('#downloadPicBtn').click(function(){
          var mymodal = $("#popUp");
          mymodal.modal('hide');
          downloadPic()
          $('html,body').animate({scrollTop: $("#image").offset().top});
        })

        $('#DetectPanelBtn').click(function(){
          url = $('#image').attr('src')
          var data  ={
            'Detect': true,
            'url': url
          }
          $.ajax({
            type:'GET',
            url:'http://127.0.0.1:5000/detectSolarPanel',
            data:data,
            dataType:'json',//希望服务器返回json格式的数据
            success:function(data){
              $('#image').attr('src',data['url'])    
              alert('Detect solar panel pic successfully ' + data['url'])    
                   }
          })
        });
        $('#One').click(function(){
          alert("Click One" + click_X + " " + click_Y + " Pic size x_ " + img_width + " y_" + img_height)
          var data = {
            'type':'one',
            'img':imgName,
            'click_X':parseFloat(click_X/img_width),
            'click_Y':parseFloat(click_Y/img_height)
          }
          $.ajax({
            type:'GET',
            url:'http://127.0.0.1:5000/labelData',
            data:data,
            dataType:'json',//希望服务器返回json格式的数据
            success:function(data){ 
              alert('label successfully')    
                   }
          })  
        })

        $('#Two').click(function(){
          alert("Click Two" + click_X + " " + click_Y)
          var data = {
            'type':'two',
            'img':imgName,
            'click_X':parseFloat(click_X/img_width),
            'click_Y':parseFloat(click_Y/img_height)
          }
          $.ajax({
            type:'GET',
            url:'http://127.0.0.1:5000/labelData',
            data:data,
            dataType:'json',//希望服务器返回json格式的数据
            success:function(data){ 
              alert('label successfully')    
                   }
          })                    

        })

        $('#Three').click(function(){
          alert("Click Three" + click_X + " " + click_Y)
          var data = {
            'type':'three',
            'img':imgName,
            'click_X':parseFloat(click_X/img_width),
            'click_Y':parseFloat(click_Y/img_height)
          }
          $.ajax({
            type:'GET',
            url:'http://127.0.0.1:5000/labelData',
            data:data,
            dataType:'json',//希望服务器返回json格式的数据
            success:function(data){ 
              alert('label successfully')    
                   }
          })   

        })

        $('#Four').click(function(){
          alert("Click Four" + click_X + " " + click_Y)
          var data = {
            'type':'four',
            'img':imgName,
            'click_X':parseFloat(click_X/img_width),
            'click_Y':parseFloat(click_Y/img_height)
          }
          $.ajax({
            type:'GET',
            url:'http://127.0.0.1:5000/labelData',
            data:data,
            dataType:'json',//希望服务器返回json格式的数据
            success:function(data){ 
              alert('label successfully')    
                   }
          })  
        })

    </script>

  </body>
</html>